spring:
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    database-platform: org.hibernate.dialect.Oracle10gDialect
    show-sql: true
    properties:
      hibernate.jdbc.lob.non_contextual_creation: true

aws:
  sqs:
    region: eu-west-2
    accesskey: AKIA27HJSWAHIV46Q6GP
    secretkey: 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
    queue:
      link: crimeapps-development-cp-test-queue
      unlink:
