# GitHub users/groups automatically requested to review App code on PR
* @ministryofjustice/laa-crime-apps-team

# GitHub users/groups requested to review Build and Test Specs used by AWS
*.yml @ministryofjustice/laa-aws-infrastructure


